<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Quiz</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <header>
      
            </header>
       <section class="budget">    
    <form name="wedding quiz form">
        <center><h1 id="heading">Wedding Quiz</h1></center>
        <center><h2>Discover Your Vow factor with Dreamy Destiny</h2></center>
        <table bgcolor="white" align="center">

            <tr>
                <td>What is the expected number of guests?</td>
                <td><input type="radio" name="guests">50-200</input><br>
                   <input type="radio" name="guests">201-500</input><br>
                   <input type="radio" name="guests">501-1000</input><br>
                   <input type="radio" name="guests">1000+</input><br>
                </td>
            </tr>

            <tr>
                <td>Your Vow Factor Should be at?</td>
                <td><input type="radio" name="vow_factor">Coastal Destination</input><br>
                   <input type="radio" name="vow_factor">Spiritual Destination</input><br>
                   <input type="radio" name="vow_factor">By the Safari</input><br>
                   <input type="radio" name="vow_factor">At a Urban Hotels</input><br>
                </td>
            </tr>

            <tr>
                <td>Month/Year You Are Planning the Wedding?</td>
                <td><input type="date" placeholder="dd-mm-yyyy"></input></td><br>
            </tr>

            <tr>
                <td>How do you Plan your Wedding Budget?</td>
                <td><input type="radio" name="budget">Modest</input><br>
                   <input type="radio" name="budget">Moderate</input><br>
                   <input type="radio" name="budget">Lavish</input><br>
                   <input type="radio" name="budget">Don't Know Yet</input><br>
                </td>
            </tr>
          
            <tr>
                <td>Select Your Budget Range:</td>
                <td>                 
                   <select name="budget">
                        <option value="100000-300000">Modest (₹1,00,000 - ₹3,00,000)</option>
                        <option value="300000-700000">Moderate (₹3,00,000 - ₹7,00,000)</option>
                        <option value="700000-1500000">Lavish (₹7,00,000 - ₹15,00,000)</option>
                        <option value="1500000+">Luxurious (₹15,00,000+)</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Address</td>
                <td><input type="text" placeholder="Name"></input></td><br>
            </tr>

            <tr>
                <td>E-mail</td>
                <td><input type="email" placeholder="E-mail"></input></td><br>
            </tr>

            <tr>
                <td>Contact Number</td>
                <td><input type="text" placeholder="Contact"></input></td><br>
            </tr>

            <tr>
                <td>
                   <input type="submit" name="Submit" value="Submit"></input>
                   <input type="reset" name="Reset" value="Reset"></input>
                </td> 
            </tr>    
    </form>
    </section>
</body>
</html>